html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border: 5px solid firebrick;
    border-radius: 100%;
    transition-property: background-color;
    transition-delay: 100ms;
    transition-timing-function: ease;
    transition-duration: 700ms;
}

div:hover {
    background-color: aquamarine;
}