html, body, header, div, footer {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

#right {
    background-color: green;
    flex-basis: 80%;
}

#left {
    background-color: skyblue;
    flex-basis: 20%;
}

header {
    height: 200px;
    border: 10px solid blue;
    background-color: yellow;
}

main {
    border: 10px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    height: 200px;
    border: 10px solid red;
    background-color: darkmagenta;
}

div {
    height: 300px;
    border: 5px solid black;
}
