html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 1000px;
    height: 1000px;
    background-color: red;
    border: 5px solid black;
    border-radius: 100%;
    animation-name: wackabacka;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 60ms;
    animation-delay: 1ms;
}

@keyframes wackabacka {
    50% {
        background-color: mediumblue;
    }
}