#sq1 {
    position: relative;
    border: 3px solid gold;
    width: 800px;
    height: 500px;

}

#sq2 {
    position: absolute;
    border: 3px solid mediumturquoise;
    right: 40px;
    bottom: 20px;
    width: 500px;
    height: 200px;
}