* { margin: 12px; }

header {
    width: 100%;
    height: 100px;
    background-color: red;
}

section {
    width: 100%;
    height: 300px;
    background-color: blue;
}

article {
    width: 50%;
    height: 50px;
    background-color: yellow;
}

aside, footer {
    width: 100%;
    height: 200px;
    background-color: green;
}

.emphasize {
    color: hotpink;
}


#emph {
    color: rgb(25, 0, 255);
} 