body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

div {
    width: 100px;
    height: 100px;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0);
    background-color: salmon;
    text-align: center;
    font: bold 2rem/1 sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
